=begin
#Winthrop Intelligence Internal API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.53.73-dev.10314

Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module WinthropClient
  class CtbApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Atomically apply one reviewed CTB compensation availability exception
    # @param ctb_compensation_apply_request [CtbCompensationApplyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CtbCompensationApplyResponse]
    def apply_ctb_compensation(ctb_compensation_apply_request, opts = {})
      data, _status_code, _headers = apply_ctb_compensation_with_http_info(ctb_compensation_apply_request, opts)
      data
    end

    # Atomically apply one reviewed CTB compensation availability exception
    # @param ctb_compensation_apply_request [CtbCompensationApplyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CtbCompensationApplyResponse, Integer, Hash)>] CtbCompensationApplyResponse data, response status code and response headers
    def apply_ctb_compensation_with_http_info(ctb_compensation_apply_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CtbApi.apply_ctb_compensation ...'
      end
      # verify the required parameter 'ctb_compensation_apply_request' is set
      if @api_client.config.client_side_validation && ctb_compensation_apply_request.nil?
        fail ArgumentError, "Missing the required parameter 'ctb_compensation_apply_request' when calling CtbApi.apply_ctb_compensation"
      end
      # resource path
      local_var_path = '/api/v1/ctb_compensation_apply'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(ctb_compensation_apply_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CtbCompensationApplyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"CtbApi.apply_ctb_compensation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CtbApi#apply_ctb_compensation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
