=begin
#Winthrop Intelligence Internal API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.45.0

Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module WinthropClient
  class DefaultApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Retrieve average compensation for a conference
    # @param conference_id [Integer] ID of the conference
    # @param season_years [Array<Integer>] Season years
    # @param sport_ids [Array<Integer>] IDs of the sports
    # @param position_type_ids [Array<Integer>] IDs of the position types
    # @param [Hash] opts the optional parameters
    # @return [AverageCompensation]
    def average_conference_comp(conference_id, season_years, sport_ids, position_type_ids, opts = {})
      data, _status_code, _headers = average_conference_comp_with_http_info(conference_id, season_years, sport_ids, position_type_ids, opts)
      data
    end

    # Retrieve average compensation for a conference
    # @param conference_id [Integer] ID of the conference
    # @param season_years [Array<Integer>] Season years
    # @param sport_ids [Array<Integer>] IDs of the sports
    # @param position_type_ids [Array<Integer>] IDs of the position types
    # @param [Hash] opts the optional parameters
    # @return [Array<(AverageCompensation, Integer, Hash)>] AverageCompensation data, response status code and response headers
    def average_conference_comp_with_http_info(conference_id, season_years, sport_ids, position_type_ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.average_conference_comp ...'
      end
      # verify the required parameter 'conference_id' is set
      if @api_client.config.client_side_validation && conference_id.nil?
        fail ArgumentError, "Missing the required parameter 'conference_id' when calling DefaultApi.average_conference_comp"
      end
      # verify the required parameter 'season_years' is set
      if @api_client.config.client_side_validation && season_years.nil?
        fail ArgumentError, "Missing the required parameter 'season_years' when calling DefaultApi.average_conference_comp"
      end
      # verify the required parameter 'sport_ids' is set
      if @api_client.config.client_side_validation && sport_ids.nil?
        fail ArgumentError, "Missing the required parameter 'sport_ids' when calling DefaultApi.average_conference_comp"
      end
      # verify the required parameter 'position_type_ids' is set
      if @api_client.config.client_side_validation && position_type_ids.nil?
        fail ArgumentError, "Missing the required parameter 'position_type_ids' when calling DefaultApi.average_conference_comp"
      end
      # resource path
      local_var_path = '/api/v1/compensations/average_conference_comp'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'conference_id'] = conference_id
      query_params[:'season_years'] = @api_client.build_collection_param(season_years, :csv)
      query_params[:'sport_ids'] = @api_client.build_collection_param(sport_ids, :csv)
      query_params[:'position_type_ids'] = @api_client.build_collection_param(position_type_ids, :csv)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AverageCompensation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"DefaultApi.average_conference_comp",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#average_conference_comp\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve average compensation for a division
    # @param division_id [Integer] ID of the division
    # @param season_years [Array<Integer>] Season years
    # @param sport_ids [Array<Integer>] IDs of the sports
    # @param position_type_ids [Array<Integer>] IDs of the position types
    # @param [Hash] opts the optional parameters
    # @return [AverageCompensation]
    def average_division_comp(division_id, season_years, sport_ids, position_type_ids, opts = {})
      data, _status_code, _headers = average_division_comp_with_http_info(division_id, season_years, sport_ids, position_type_ids, opts)
      data
    end

    # Retrieve average compensation for a division
    # @param division_id [Integer] ID of the division
    # @param season_years [Array<Integer>] Season years
    # @param sport_ids [Array<Integer>] IDs of the sports
    # @param position_type_ids [Array<Integer>] IDs of the position types
    # @param [Hash] opts the optional parameters
    # @return [Array<(AverageCompensation, Integer, Hash)>] AverageCompensation data, response status code and response headers
    def average_division_comp_with_http_info(division_id, season_years, sport_ids, position_type_ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.average_division_comp ...'
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling DefaultApi.average_division_comp"
      end
      # verify the required parameter 'season_years' is set
      if @api_client.config.client_side_validation && season_years.nil?
        fail ArgumentError, "Missing the required parameter 'season_years' when calling DefaultApi.average_division_comp"
      end
      # verify the required parameter 'sport_ids' is set
      if @api_client.config.client_side_validation && sport_ids.nil?
        fail ArgumentError, "Missing the required parameter 'sport_ids' when calling DefaultApi.average_division_comp"
      end
      # verify the required parameter 'position_type_ids' is set
      if @api_client.config.client_side_validation && position_type_ids.nil?
        fail ArgumentError, "Missing the required parameter 'position_type_ids' when calling DefaultApi.average_division_comp"
      end
      # resource path
      local_var_path = '/api/v1/compensations/average_division_comp'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'division_id'] = division_id
      query_params[:'season_years'] = @api_client.build_collection_param(season_years, :csv)
      query_params[:'sport_ids'] = @api_client.build_collection_param(sport_ids, :csv)
      query_params[:'position_type_ids'] = @api_client.build_collection_param(position_type_ids, :csv)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AverageCompensation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"DefaultApi.average_division_comp",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#average_division_comp\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve average compensation for a school
    # @param school_id [Integer] ID of the school
    # @param season_years [Array<Integer>] Season years
    # @param sport_ids [Array<Integer>] IDs of the sports
    # @param position_type_ids [Array<Integer>] IDs of the position types
    # @param [Hash] opts the optional parameters
    # @return [AverageCompensation]
    def average_school_comp(school_id, season_years, sport_ids, position_type_ids, opts = {})
      data, _status_code, _headers = average_school_comp_with_http_info(school_id, season_years, sport_ids, position_type_ids, opts)
      data
    end

    # Retrieve average compensation for a school
    # @param school_id [Integer] ID of the school
    # @param season_years [Array<Integer>] Season years
    # @param sport_ids [Array<Integer>] IDs of the sports
    # @param position_type_ids [Array<Integer>] IDs of the position types
    # @param [Hash] opts the optional parameters
    # @return [Array<(AverageCompensation, Integer, Hash)>] AverageCompensation data, response status code and response headers
    def average_school_comp_with_http_info(school_id, season_years, sport_ids, position_type_ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.average_school_comp ...'
      end
      # verify the required parameter 'school_id' is set
      if @api_client.config.client_side_validation && school_id.nil?
        fail ArgumentError, "Missing the required parameter 'school_id' when calling DefaultApi.average_school_comp"
      end
      # verify the required parameter 'season_years' is set
      if @api_client.config.client_side_validation && season_years.nil?
        fail ArgumentError, "Missing the required parameter 'season_years' when calling DefaultApi.average_school_comp"
      end
      # verify the required parameter 'sport_ids' is set
      if @api_client.config.client_side_validation && sport_ids.nil?
        fail ArgumentError, "Missing the required parameter 'sport_ids' when calling DefaultApi.average_school_comp"
      end
      # verify the required parameter 'position_type_ids' is set
      if @api_client.config.client_side_validation && position_type_ids.nil?
        fail ArgumentError, "Missing the required parameter 'position_type_ids' when calling DefaultApi.average_school_comp"
      end
      # resource path
      local_var_path = '/api/v1/compensations/average_school_comp'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'school_id'] = school_id
      query_params[:'season_years'] = @api_client.build_collection_param(season_years, :csv)
      query_params[:'sport_ids'] = @api_client.build_collection_param(sport_ids, :csv)
      query_params[:'position_type_ids'] = @api_client.build_collection_param(position_type_ids, :csv)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AverageCompensation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"DefaultApi.average_school_comp",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#average_school_comp\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve average compensation for a subdivision
    # @param subdivision_id [Integer] ID of the subdivision
    # @param season_years [Array<Integer>] Season years
    # @param sport_ids [Array<Integer>] IDs of the sports
    # @param position_type_ids [Array<Integer>] IDs of the position types
    # @param [Hash] opts the optional parameters
    # @return [AverageCompensation]
    def average_subdivision_comp(subdivision_id, season_years, sport_ids, position_type_ids, opts = {})
      data, _status_code, _headers = average_subdivision_comp_with_http_info(subdivision_id, season_years, sport_ids, position_type_ids, opts)
      data
    end

    # Retrieve average compensation for a subdivision
    # @param subdivision_id [Integer] ID of the subdivision
    # @param season_years [Array<Integer>] Season years
    # @param sport_ids [Array<Integer>] IDs of the sports
    # @param position_type_ids [Array<Integer>] IDs of the position types
    # @param [Hash] opts the optional parameters
    # @return [Array<(AverageCompensation, Integer, Hash)>] AverageCompensation data, response status code and response headers
    def average_subdivision_comp_with_http_info(subdivision_id, season_years, sport_ids, position_type_ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.average_subdivision_comp ...'
      end
      # verify the required parameter 'subdivision_id' is set
      if @api_client.config.client_side_validation && subdivision_id.nil?
        fail ArgumentError, "Missing the required parameter 'subdivision_id' when calling DefaultApi.average_subdivision_comp"
      end
      # verify the required parameter 'season_years' is set
      if @api_client.config.client_side_validation && season_years.nil?
        fail ArgumentError, "Missing the required parameter 'season_years' when calling DefaultApi.average_subdivision_comp"
      end
      # verify the required parameter 'sport_ids' is set
      if @api_client.config.client_side_validation && sport_ids.nil?
        fail ArgumentError, "Missing the required parameter 'sport_ids' when calling DefaultApi.average_subdivision_comp"
      end
      # verify the required parameter 'position_type_ids' is set
      if @api_client.config.client_side_validation && position_type_ids.nil?
        fail ArgumentError, "Missing the required parameter 'position_type_ids' when calling DefaultApi.average_subdivision_comp"
      end
      # resource path
      local_var_path = '/api/v1/compensations/average_subdivision_comp'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'subdivision_id'] = subdivision_id
      query_params[:'season_years'] = @api_client.build_collection_param(season_years, :csv)
      query_params[:'sport_ids'] = @api_client.build_collection_param(sport_ids, :csv)
      query_params[:'position_type_ids'] = @api_client.build_collection_param(position_type_ids, :csv)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AverageCompensation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"DefaultApi.average_subdivision_comp",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#average_subdivision_comp\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve the COLI-adjusted compensation
    # @param school_id [Integer] ID of the School
    # @param other_person_school_id [Integer] ID of the other person School
    # @param other_person_total_compensation [Integer] Other person total compensation amount
    # @param [Hash] opts the optional parameters
    # @return [COLIAdjusted]
    def compare_coli(school_id, other_person_school_id, other_person_total_compensation, opts = {})
      data, _status_code, _headers = compare_coli_with_http_info(school_id, other_person_school_id, other_person_total_compensation, opts)
      data
    end

    # Retrieve the COLI-adjusted compensation
    # @param school_id [Integer] ID of the School
    # @param other_person_school_id [Integer] ID of the other person School
    # @param other_person_total_compensation [Integer] Other person total compensation amount
    # @param [Hash] opts the optional parameters
    # @return [Array<(COLIAdjusted, Integer, Hash)>] COLIAdjusted data, response status code and response headers
    def compare_coli_with_http_info(school_id, other_person_school_id, other_person_total_compensation, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.compare_coli ...'
      end
      # verify the required parameter 'school_id' is set
      if @api_client.config.client_side_validation && school_id.nil?
        fail ArgumentError, "Missing the required parameter 'school_id' when calling DefaultApi.compare_coli"
      end
      # verify the required parameter 'other_person_school_id' is set
      if @api_client.config.client_side_validation && other_person_school_id.nil?
        fail ArgumentError, "Missing the required parameter 'other_person_school_id' when calling DefaultApi.compare_coli"
      end
      # verify the required parameter 'other_person_total_compensation' is set
      if @api_client.config.client_side_validation && other_person_total_compensation.nil?
        fail ArgumentError, "Missing the required parameter 'other_person_total_compensation' when calling DefaultApi.compare_coli"
      end
      # resource path
      local_var_path = '/api/v1/schools/compare_coli'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'school_id'] = school_id
      query_params[:'other_person_school_id'] = other_person_school_id
      query_params[:'other_person_total_compensation'] = other_person_total_compensation

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'COLIAdjusted'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"DefaultApi.compare_coli",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#compare_coli\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new user for the current account. The email prefix is combined with the account email domain. The new user receives an invitation email.
    # @param create_account_user_request [CreateAccountUserRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AccountUser]
    def create_account_user(create_account_user_request, opts = {})
      data, _status_code, _headers = create_account_user_with_http_info(create_account_user_request, opts)
      data
    end

    # Create a new user for the current account. The email prefix is combined with the account email domain. The new user receives an invitation email.
    # @param create_account_user_request [CreateAccountUserRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AccountUser, Integer, Hash)>] AccountUser data, response status code and response headers
    def create_account_user_with_http_info(create_account_user_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_account_user ...'
      end
      # verify the required parameter 'create_account_user_request' is set
      if @api_client.config.client_side_validation && create_account_user_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_account_user_request' when calling DefaultApi.create_account_user"
      end
      # resource path
      local_var_path = '/api/v1/account_users'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_account_user_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AccountUser'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_account_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_account_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new Cashflow
    # @param [Hash] opts the optional parameters
    # @option opts [Cashflow] :cashflow 
    # @return [Cashflow]
    def create_cashflow(opts = {})
      data, _status_code, _headers = create_cashflow_with_http_info(opts)
      data
    end

    # Create a new Cashflow
    # @param [Hash] opts the optional parameters
    # @option opts [Cashflow] :cashflow 
    # @return [Array<(Cashflow, Integer, Hash)>] Cashflow data, response status code and response headers
    def create_cashflow_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_cashflow ...'
      end
      # resource path
      local_var_path = '/api/v1/cashflows'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'cashflow'])

      # return_type
      return_type = opts[:debug_return_type] || 'Cashflow'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_cashflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_cashflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a coach
    # @param coach [Coach] Coach attributes to create. Accepts standard coach fields including first_name, last_name, email, phone, bio, bio_text, and related profile fields.
    # @param [Hash] opts the optional parameters
    # @return [Coach]
    def create_coach(coach, opts = {})
      data, _status_code, _headers = create_coach_with_http_info(coach, opts)
      data
    end

    # Create a coach
    # @param coach [Coach] Coach attributes to create. Accepts standard coach fields including first_name, last_name, email, phone, bio, bio_text, and related profile fields.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Coach, Integer, Hash)>] Coach data, response status code and response headers
    def create_coach_with_http_info(coach, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_coach ...'
      end
      # verify the required parameter 'coach' is set
      if @api_client.config.client_side_validation && coach.nil?
        fail ArgumentError, "Missing the required parameter 'coach' when calling DefaultApi.create_coach"
      end
      # resource path
      local_var_path = '/api/v1/coaches'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(coach)

      # return_type
      return_type = opts[:debug_return_type] || 'Coach'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_coach",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_coach\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new Conference
    # @param [Hash] opts the optional parameters
    # @option opts [Conference] :conference 
    # @return [Conference]
    def create_conference(opts = {})
      data, _status_code, _headers = create_conference_with_http_info(opts)
      data
    end

    # Create a new Conference
    # @param [Hash] opts the optional parameters
    # @option opts [Conference] :conference 
    # @return [Array<(Conference, Integer, Hash)>] Conference data, response status code and response headers
    def create_conference_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_conference ...'
      end
      # resource path
      local_var_path = '/api/v1/conferences'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'conference'])

      # return_type
      return_type = opts[:debug_return_type] || 'Conference'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_conference",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_conference\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new Conferenceship
    # @param [Hash] opts the optional parameters
    # @option opts [Conferenceship] :conferenceship 
    # @return [Conferenceship]
    def create_conferenceship(opts = {})
      data, _status_code, _headers = create_conferenceship_with_http_info(opts)
      data
    end

    # Create a new Conferenceship
    # @param [Hash] opts the optional parameters
    # @option opts [Conferenceship] :conferenceship 
    # @return [Array<(Conferenceship, Integer, Hash)>] Conferenceship data, response status code and response headers
    def create_conferenceship_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_conferenceship ...'
      end
      # resource path
      local_var_path = '/api/v1/conferenceships'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'conferenceship'])

      # return_type
      return_type = opts[:debug_return_type] || 'Conferenceship'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_conferenceship",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_conferenceship\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new scheduling contact
    # @param [Hash] opts the optional parameters
    # @option opts [CreateContactSearchRequest] :create_contact_search_request 
    # @return [ContactSearchEntry]
    def create_contact_search(opts = {})
      data, _status_code, _headers = create_contact_search_with_http_info(opts)
      data
    end

    # Create a new scheduling contact
    # @param [Hash] opts the optional parameters
    # @option opts [CreateContactSearchRequest] :create_contact_search_request 
    # @return [Array<(ContactSearchEntry, Integer, Hash)>] ContactSearchEntry data, response status code and response headers
    def create_contact_search_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_contact_search ...'
      end
      # resource path
      local_var_path = '/api/v1/contact_searches'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'create_contact_search_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ContactSearchEntry'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_contact_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_contact_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add a favorite for the current user
    # @param create_favorite_request [CreateFavoriteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateFavorite201Response]
    def create_favorite(create_favorite_request, opts = {})
      data, _status_code, _headers = create_favorite_with_http_info(create_favorite_request, opts)
      data
    end

    # Add a favorite for the current user
    # @param create_favorite_request [CreateFavoriteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateFavorite201Response, Integer, Hash)>] CreateFavorite201Response data, response status code and response headers
    def create_favorite_with_http_info(create_favorite_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_favorite ...'
      end
      # verify the required parameter 'create_favorite_request' is set
      if @api_client.config.client_side_validation && create_favorite_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_favorite_request' when calling DefaultApi.create_favorite"
      end
      # resource path
      local_var_path = '/api/v1/favorites'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_favorite_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateFavorite201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_favorite",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_favorite\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new favorites category
    # @param create_favorites_category_request [CreateFavoritesCategoryRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GetFavoritesCategories200ResponseInner]
    def create_favorites_category(create_favorites_category_request, opts = {})
      data, _status_code, _headers = create_favorites_category_with_http_info(create_favorites_category_request, opts)
      data
    end

    # Create a new favorites category
    # @param create_favorites_category_request [CreateFavoritesCategoryRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetFavoritesCategories200ResponseInner, Integer, Hash)>] GetFavoritesCategories200ResponseInner data, response status code and response headers
    def create_favorites_category_with_http_info(create_favorites_category_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_favorites_category ...'
      end
      # verify the required parameter 'create_favorites_category_request' is set
      if @api_client.config.client_side_validation && create_favorites_category_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_favorites_category_request' when calling DefaultApi.create_favorites_category"
      end
      # resource path
      local_var_path = '/api/v1/favorites_categories'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_favorites_category_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GetFavoritesCategories200ResponseInner'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_favorites_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_favorites_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new foia label
    # @param foia_label [FoiaLabel] Foia label to create
    # @param [Hash] opts the optional parameters
    # @return [FoiaLabel]
    def create_foia_label(foia_label, opts = {})
      data, _status_code, _headers = create_foia_label_with_http_info(foia_label, opts)
      data
    end

    # Create a new foia label
    # @param foia_label [FoiaLabel] Foia label to create
    # @param [Hash] opts the optional parameters
    # @return [Array<(FoiaLabel, Integer, Hash)>] FoiaLabel data, response status code and response headers
    def create_foia_label_with_http_info(foia_label, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_foia_label ...'
      end
      # verify the required parameter 'foia_label' is set
      if @api_client.config.client_side_validation && foia_label.nil?
        fail ArgumentError, "Missing the required parameter 'foia_label' when calling DefaultApi.create_foia_label"
      end
      # resource path
      local_var_path = '/api/v1/foia_labels'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(foia_label)

      # return_type
      return_type = opts[:debug_return_type] || 'FoiaLabel'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_foia_label",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_foia_label\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new foia request
    # @param foia_request [FoiaRequest] Foia request to create
    # @param [Hash] opts the optional parameters
    # @return [FoiaRequest]
    def create_foia_request(foia_request, opts = {})
      data, _status_code, _headers = create_foia_request_with_http_info(foia_request, opts)
      data
    end

    # Create a new foia request
    # @param foia_request [FoiaRequest] Foia request to create
    # @param [Hash] opts the optional parameters
    # @return [Array<(FoiaRequest, Integer, Hash)>] FoiaRequest data, response status code and response headers
    def create_foia_request_with_http_info(foia_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_foia_request ...'
      end
      # verify the required parameter 'foia_request' is set
      if @api_client.config.client_side_validation && foia_request.nil?
        fail ArgumentError, "Missing the required parameter 'foia_request' when calling DefaultApi.create_foia_request"
      end
      # resource path
      local_var_path = '/api/v1/foia_requests'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(foia_request)

      # return_type
      return_type = opts[:debug_return_type] || 'FoiaRequest'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_foia_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_foia_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a game
    # @param create_game_request [CreateGameRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GameDetail]
    def create_game(create_game_request, opts = {})
      data, _status_code, _headers = create_game_with_http_info(create_game_request, opts)
      data
    end

    # Create a game
    # @param create_game_request [CreateGameRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GameDetail, Integer, Hash)>] GameDetail data, response status code and response headers
    def create_game_with_http_info(create_game_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_game ...'
      end
      # verify the required parameter 'create_game_request' is set
      if @api_client.config.client_side_validation && create_game_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_game_request' when calling DefaultApi.create_game"
      end
      # resource path
      local_var_path = '/api/v1/games'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_game_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GameDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_game",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_game\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a game post for the current user's school
    # @param create_game_post_search_request [CreateGamePostSearchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GamePost]
    def create_game_post(create_game_post_search_request, opts = {})
      data, _status_code, _headers = create_game_post_with_http_info(create_game_post_search_request, opts)
      data
    end

    # Create a game post for the current user&#39;s school
    # @param create_game_post_search_request [CreateGamePostSearchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GamePost, Integer, Hash)>] GamePost data, response status code and response headers
    def create_game_post_with_http_info(create_game_post_search_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_game_post ...'
      end
      # verify the required parameter 'create_game_post_search_request' is set
      if @api_client.config.client_side_validation && create_game_post_search_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_game_post_search_request' when calling DefaultApi.create_game_post"
      end
      # resource path
      local_var_path = '/api/v1/game_posts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_game_post_search_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GamePost'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_game_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_game_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new game post
    # @param create_game_post_search_request [CreateGamePostSearchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GamePostDetail]
    def create_game_post_search(create_game_post_search_request, opts = {})
      data, _status_code, _headers = create_game_post_search_with_http_info(create_game_post_search_request, opts)
      data
    end

    # Create a new game post
    # @param create_game_post_search_request [CreateGamePostSearchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GamePostDetail, Integer, Hash)>] GamePostDetail data, response status code and response headers
    def create_game_post_search_with_http_info(create_game_post_search_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_game_post_search ...'
      end
      # verify the required parameter 'create_game_post_search_request' is set
      if @api_client.config.client_side_validation && create_game_post_search_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_game_post_search_request' when calling DefaultApi.create_game_post_search"
      end
      # resource path
      local_var_path = '/api/v1/game_post_searches'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_game_post_search_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GamePostDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_game_post_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_game_post_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a job post
    # Create a job post
    # @param [Hash] opts the optional parameters
    # @option opts [JobPost] :job_post 
    # @return [JobPost]
    def create_job_post(opts = {})
      data, _status_code, _headers = create_job_post_with_http_info(opts)
      data
    end

    # Create a job post
    # Create a job post
    # @param [Hash] opts the optional parameters
    # @option opts [JobPost] :job_post 
    # @return [Array<(JobPost, Integer, Hash)>] JobPost data, response status code and response headers
    def create_job_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_job_post ...'
      end
      # resource path
      local_var_path = '/central_jobs/job_posts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'job_post'])

      # return_type
      return_type = opts[:debug_return_type] || 'JobPost'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_job_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_job_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a note for the current user on a notable object
    # @param create_note_request [CreateNoteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Note]
    def create_note(create_note_request, opts = {})
      data, _status_code, _headers = create_note_with_http_info(create_note_request, opts)
      data
    end

    # Create a note for the current user on a notable object
    # @param create_note_request [CreateNoteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Note, Integer, Hash)>] Note data, response status code and response headers
    def create_note_with_http_info(create_note_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_note ...'
      end
      # verify the required parameter 'create_note_request' is set
      if @api_client.config.client_side_validation && create_note_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_note_request' when calling DefaultApi.create_note"
      end
      # resource path
      local_var_path = '/api/v1/notes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_note_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Note'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_note",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_note\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send password reset instructions to the given email address
    # @param create_password_reset_request [CreatePasswordResetRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreatePasswordReset200Response]
    def create_password_reset(create_password_reset_request, opts = {})
      data, _status_code, _headers = create_password_reset_with_http_info(create_password_reset_request, opts)
      data
    end

    # Send password reset instructions to the given email address
    # @param create_password_reset_request [CreatePasswordResetRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreatePasswordReset200Response, Integer, Hash)>] CreatePasswordReset200Response data, response status code and response headers
    def create_password_reset_with_http_info(create_password_reset_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_password_reset ...'
      end
      # verify the required parameter 'create_password_reset_request' is set
      if @api_client.config.client_side_validation && create_password_reset_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_password_reset_request' when calling DefaultApi.create_password_reset"
      end
      # resource path
      local_var_path = '/api/v1/password_reset'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_password_reset_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreatePasswordReset200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.create_password_reset",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_password_reset\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a position. If season_id is omitted, a season will be created (or reused) when school_id, sport_id, and year are provided.
    # @param position [Position] Position attributes to create. Accepts season_id or school_id/sport_id/year, coach_id, title, creation_reason, and position_type_ids.
    # @param [Hash] opts the optional parameters
    # @return [Position]
    def create_position(position, opts = {})
      data, _status_code, _headers = create_position_with_http_info(position, opts)
      data
    end

    # Create a position. If season_id is omitted, a season will be created (or reused) when school_id, sport_id, and year are provided.
    # @param position [Position] Position attributes to create. Accepts season_id or school_id/sport_id/year, coach_id, title, creation_reason, and position_type_ids.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Position, Integer, Hash)>] Position data, response status code and response headers
    def create_position_with_http_info(position, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_position ...'
      end
      # verify the required parameter 'position' is set
      if @api_client.config.client_side_validation && position.nil?
        fail ArgumentError, "Missing the required parameter 'position' when calling DefaultApi.create_position"
      end
      # resource path
      local_var_path = '/api/v1/positions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(position)

      # return_type
      return_type = opts[:debug_return_type] || 'Position'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_position",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_position\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new requested item
    # @param requested_item [RequestedItem] Requested item to create
    # @param [Hash] opts the optional parameters
    # @return [RequestedItem]
    def create_requested_item(requested_item, opts = {})
      data, _status_code, _headers = create_requested_item_with_http_info(requested_item, opts)
      data
    end

    # Create a new requested item
    # @param requested_item [RequestedItem] Requested item to create
    # @param [Hash] opts the optional parameters
    # @return [Array<(RequestedItem, Integer, Hash)>] RequestedItem data, response status code and response headers
    def create_requested_item_with_http_info(requested_item, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_requested_item ...'
      end
      # verify the required parameter 'requested_item' is set
      if @api_client.config.client_side_validation && requested_item.nil?
        fail ArgumentError, "Missing the required parameter 'requested_item' when calling DefaultApi.create_requested_item"
      end
      # resource path
      local_var_path = '/api/v1/requested_items'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(requested_item)

      # return_type
      return_type = opts[:debug_return_type] || 'RequestedItem'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_requested_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_requested_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new custom school group
    # @param create_school_group_request [CreateSchoolGroupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SchoolGroupShow]
    def create_school_group(create_school_group_request, opts = {})
      data, _status_code, _headers = create_school_group_with_http_info(create_school_group_request, opts)
      data
    end

    # Create a new custom school group
    # @param create_school_group_request [CreateSchoolGroupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SchoolGroupShow, Integer, Hash)>] SchoolGroupShow data, response status code and response headers
    def create_school_group_with_http_info(create_school_group_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_school_group ...'
      end
      # verify the required parameter 'create_school_group_request' is set
      if @api_client.config.client_side_validation && create_school_group_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_school_group_request' when calling DefaultApi.create_school_group"
      end
      # resource path
      local_var_path = '/api/v1/school_groups'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_school_group_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SchoolGroupShow'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_school_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_school_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new Season
    # @param [Hash] opts the optional parameters
    # @option opts [Season] :season 
    # @return [Season]
    def create_season(opts = {})
      data, _status_code, _headers = create_season_with_http_info(opts)
      data
    end

    # Create a new Season
    # @param [Hash] opts the optional parameters
    # @option opts [Season] :season 
    # @return [Array<(Season, Integer, Hash)>] Season data, response status code and response headers
    def create_season_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_season ...'
      end
      # resource path
      local_var_path = '/api/v1/seasons'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'season'])

      # return_type
      return_type = opts[:debug_return_type] || 'Season'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_season",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_season\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add a FilTeam to favorites
    # @param create_team_schedule_favorite_request [CreateTeamScheduleFavoriteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateTeamScheduleFavorite201Response]
    def create_team_schedule_favorite(create_team_schedule_favorite_request, opts = {})
      data, _status_code, _headers = create_team_schedule_favorite_with_http_info(create_team_schedule_favorite_request, opts)
      data
    end

    # Add a FilTeam to favorites
    # @param create_team_schedule_favorite_request [CreateTeamScheduleFavoriteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateTeamScheduleFavorite201Response, Integer, Hash)>] CreateTeamScheduleFavorite201Response data, response status code and response headers
    def create_team_schedule_favorite_with_http_info(create_team_schedule_favorite_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_team_schedule_favorite ...'
      end
      # verify the required parameter 'create_team_schedule_favorite_request' is set
      if @api_client.config.client_side_validation && create_team_schedule_favorite_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_team_schedule_favorite_request' when calling DefaultApi.create_team_schedule_favorite"
      end
      # resource path
      local_var_path = '/api/v1/team_schedule_favorites'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_team_schedule_favorite_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateTeamScheduleFavorite201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_team_schedule_favorite",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_team_schedule_favorite\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload one or more PDF contract files
    # @param [Hash] opts the optional parameters
    # @option opts [Array<File>] :files PDF files to upload
    # @return [CreateUpload201Response]
    def create_upload(opts = {})
      data, _status_code, _headers = create_upload_with_http_info(opts)
      data
    end

    # Upload one or more PDF contract files
    # @param [Hash] opts the optional parameters
    # @option opts [Array<File>] :files PDF files to upload
    # @return [Array<(CreateUpload201Response, Integer, Hash)>] CreateUpload201Response data, response status code and response headers
    def create_upload_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_upload ...'
      end
      # resource path
      local_var_path = '/api/v1/uploads'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['files[]'] = @api_client.build_collection_param(opts[:'files'], :csv) if !opts[:'files'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateUpload201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_upload",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_upload\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a user from the current account
    # @param account_user_id [Integer] ID of the user to delete
    # @param [Hash] opts the optional parameters
    # @return [DeleteAccountUser200Response]
    def delete_account_user(account_user_id, opts = {})
      data, _status_code, _headers = delete_account_user_with_http_info(account_user_id, opts)
      data
    end

    # Delete a user from the current account
    # @param account_user_id [Integer] ID of the user to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteAccountUser200Response, Integer, Hash)>] DeleteAccountUser200Response data, response status code and response headers
    def delete_account_user_with_http_info(account_user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_account_user ...'
      end
      # verify the required parameter 'account_user_id' is set
      if @api_client.config.client_side_validation && account_user_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_user_id' when calling DefaultApi.delete_account_user"
      end
      # resource path
      local_var_path = '/api/v1/account_users/{accountUserId}'.sub('{' + 'accountUserId' + '}', CGI.escape(account_user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteAccountUser200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_account_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_account_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a single Cashflow
    # @param cashflow_id [Integer] ID of the Cashflow
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_cashflow(cashflow_id, opts = {})
      delete_cashflow_with_http_info(cashflow_id, opts)
      nil
    end

    # Delete a single Cashflow
    # @param cashflow_id [Integer] ID of the Cashflow
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_cashflow_with_http_info(cashflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_cashflow ...'
      end
      # verify the required parameter 'cashflow_id' is set
      if @api_client.config.client_side_validation && cashflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'cashflow_id' when calling DefaultApi.delete_cashflow"
      end
      # resource path
      local_var_path = '/api/v1/cashflows/{cashflowId}'.sub('{' + 'cashflowId' + '}', CGI.escape(cashflow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_cashflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_cashflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a single Conference
    # @param conference_id [Integer] ID of the Conference
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_conference(conference_id, opts = {})
      delete_conference_with_http_info(conference_id, opts)
      nil
    end

    # Delete a single Conference
    # @param conference_id [Integer] ID of the Conference
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_conference_with_http_info(conference_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_conference ...'
      end
      # verify the required parameter 'conference_id' is set
      if @api_client.config.client_side_validation && conference_id.nil?
        fail ArgumentError, "Missing the required parameter 'conference_id' when calling DefaultApi.delete_conference"
      end
      # resource path
      local_var_path = '/api/v1/conferences/{conferenceId}'.sub('{' + 'conferenceId' + '}', CGI.escape(conference_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_conference",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_conference\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a single Conferenceship
    # @param conferenceship_id [Integer] ID of the Conferenceship
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_conferenceship(conferenceship_id, opts = {})
      delete_conferenceship_with_http_info(conferenceship_id, opts)
      nil
    end

    # Delete a single Conferenceship
    # @param conferenceship_id [Integer] ID of the Conferenceship
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_conferenceship_with_http_info(conferenceship_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_conferenceship ...'
      end
      # verify the required parameter 'conferenceship_id' is set
      if @api_client.config.client_side_validation && conferenceship_id.nil?
        fail ArgumentError, "Missing the required parameter 'conferenceship_id' when calling DefaultApi.delete_conferenceship"
      end
      # resource path
      local_var_path = '/api/v1/conferenceships/{conferenceshipId}'.sub('{' + 'conferenceshipId' + '}', CGI.escape(conferenceship_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_conferenceship",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_conferenceship\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a scheduling contact
    # @param id [Integer] ID of contact to delete
    # @param [Hash] opts the optional parameters
    # @return [DeleteContactSearch200Response]
    def delete_contact_search(id, opts = {})
      data, _status_code, _headers = delete_contact_search_with_http_info(id, opts)
      data
    end

    # Delete a scheduling contact
    # @param id [Integer] ID of contact to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteContactSearch200Response, Integer, Hash)>] DeleteContactSearch200Response data, response status code and response headers
    def delete_contact_search_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_contact_search ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.delete_contact_search"
      end
      # resource path
      local_var_path = '/api/v1/contact_searches/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteContactSearch200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_contact_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_contact_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove a favorite by its ID
    # @param id [Integer] The favorite record ID
    # @param [Hash] opts the optional parameters
    # @return [DeleteFavorite200Response]
    def delete_favorite(id, opts = {})
      data, _status_code, _headers = delete_favorite_with_http_info(id, opts)
      data
    end

    # Remove a favorite by its ID
    # @param id [Integer] The favorite record ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteFavorite200Response, Integer, Hash)>] DeleteFavorite200Response data, response status code and response headers
    def delete_favorite_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_favorite ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.delete_favorite"
      end
      # resource path
      local_var_path = '/api/v1/favorites/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteFavorite200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_favorite",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_favorite\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a favorites category
    # @param id [Integer] The category ID
    # @param [Hash] opts the optional parameters
    # @return [DeleteFavorite200Response]
    def delete_favorites_category(id, opts = {})
      data, _status_code, _headers = delete_favorites_category_with_http_info(id, opts)
      data
    end

    # Delete a favorites category
    # @param id [Integer] The category ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteFavorite200Response, Integer, Hash)>] DeleteFavorite200Response data, response status code and response headers
    def delete_favorites_category_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_favorites_category ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.delete_favorites_category"
      end
      # resource path
      local_var_path = '/api/v1/favorites_categories/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteFavorite200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_favorites_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_favorites_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a single foia label
    # @param foia_label_id [Integer] ID of foia label to delete
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_foia_label(foia_label_id, opts = {})
      delete_foia_label_with_http_info(foia_label_id, opts)
      nil
    end

    # Delete a single foia label
    # @param foia_label_id [Integer] ID of foia label to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_foia_label_with_http_info(foia_label_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_foia_label ...'
      end
      # verify the required parameter 'foia_label_id' is set
      if @api_client.config.client_side_validation && foia_label_id.nil?
        fail ArgumentError, "Missing the required parameter 'foia_label_id' when calling DefaultApi.delete_foia_label"
      end
      # resource path
      local_var_path = '/api/v1/foia_labels/{foiaLabelId}'.sub('{' + 'foiaLabelId' + '}', CGI.escape(foia_label_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_foia_label",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_foia_label\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a single foia request
    # @param foia_request_id [Integer] ID of foia request to delete
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_foia_request(foia_request_id, opts = {})
      delete_foia_request_with_http_info(foia_request_id, opts)
      nil
    end

    # Delete a single foia request
    # @param foia_request_id [Integer] ID of foia request to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_foia_request_with_http_info(foia_request_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_foia_request ...'
      end
      # verify the required parameter 'foia_request_id' is set
      if @api_client.config.client_side_validation && foia_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'foia_request_id' when calling DefaultApi.delete_foia_request"
      end
      # resource path
      local_var_path = '/api/v1/foia_requests/{foiaRequestId}'.sub('{' + 'foiaRequestId' + '}', CGI.escape(foia_request_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_foia_request",
[...]
