=begin
#Winthrop Intelligence Internal API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.34.7

Generated by: https://openapi-generator.tech
Generator version: 7.4.0

=end

require 'cgi'

module WinthropClient
  class DossierApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # University Dossier Report
    # @param winad_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [DossierReportResponse]
    def university_dossier_report_dossier_winad_id_get(winad_id, opts = {})
      data, _status_code, _headers = university_dossier_report_dossier_winad_id_get_with_http_info(winad_id, opts)
      data
    end

    # University Dossier Report
    # @param winad_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DossierReportResponse, Integer, Hash)>] DossierReportResponse data, response status code and response headers
    def university_dossier_report_dossier_winad_id_get_with_http_info(winad_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DossierApi.university_dossier_report_dossier_winad_id_get ...'
      end
      # verify the required parameter 'winad_id' is set
      if @api_client.config.client_side_validation && winad_id.nil?
        fail ArgumentError, "Missing the required parameter 'winad_id' when calling DossierApi.university_dossier_report_dossier_winad_id_get"
      end
      # resource path
      local_var_path = '/dossier/dossier/{winad_id}'.sub('{' + 'winad_id' + '}', CGI.escape(winad_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DossierReportResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"DossierApi.university_dossier_report_dossier_winad_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DossierApi#university_dossier_report_dossier_winad_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
