=begin
#Winthrop Intelligence Internal API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.53.70

Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module WinthropClient
  class FoiaInboxApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Atomically apply one approved Gmail message decision to one FOIA request. A retry whose selected final state is already present returns already_applied without duplicating effects.
    # @param foia_inbox_apply_request [FoiaInboxApplyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [FoiaInboxApplyResponse]
    def apply_foia_inbox(foia_inbox_apply_request, opts = {})
      data, _status_code, _headers = apply_foia_inbox_with_http_info(foia_inbox_apply_request, opts)
      data
    end

    # Atomically apply one approved Gmail message decision to one FOIA request. A retry whose selected final state is already present returns already_applied without duplicating effects.
    # @param foia_inbox_apply_request [FoiaInboxApplyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FoiaInboxApplyResponse, Integer, Hash)>] FoiaInboxApplyResponse data, response status code and response headers
    def apply_foia_inbox_with_http_info(foia_inbox_apply_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FoiaInboxApi.apply_foia_inbox ...'
      end
      # verify the required parameter 'foia_inbox_apply_request' is set
      if @api_client.config.client_side_validation && foia_inbox_apply_request.nil?
        fail ArgumentError, "Missing the required parameter 'foia_inbox_apply_request' when calling FoiaInboxApi.apply_foia_inbox"
      end
      # resource path
      local_var_path = '/api/v1/foia_inbox_apply'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(foia_inbox_apply_request)

      # return_type
      return_type = opts[:debug_return_type] || 'FoiaInboxApplyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"FoiaInboxApi.apply_foia_inbox",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FoiaInboxApi#apply_foia_inbox\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve active FOIA requests on active labels for explainable inbox matching
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page results page to retrieve. (default to 1)
    # @option opts [Integer] :per_page  (default to 100)
    # @option opts [Integer] :school_id 
    # @option opts [Integer] :foia_request_id 
    # @option opts [String] :if_none_match ETag from a previous response; when it still matches, the server responds 304 Not Modified instead of re-sending the payload.
    # @return [FoiaInboxCandidatesResponse]
    def get_foia_inbox_candidates(opts = {})
      data, _status_code, _headers = get_foia_inbox_candidates_with_http_info(opts)
      data
    end

    # Retrieve active FOIA requests on active labels for explainable inbox matching
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page results page to retrieve. (default to 1)
    # @option opts [Integer] :per_page  (default to 100)
    # @option opts [Integer] :school_id 
    # @option opts [Integer] :foia_request_id 
    # @option opts [String] :if_none_match ETag from a previous response; when it still matches, the server responds 304 Not Modified instead of re-sending the payload.
    # @return [Array<(FoiaInboxCandidatesResponse, Integer, Hash)>] FoiaInboxCandidatesResponse data, response status code and response headers
    def get_foia_inbox_candidates_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FoiaInboxApi.get_foia_inbox_candidates ...'
      end
      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 200
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling FoiaInboxApi.get_foia_inbox_candidates, must be smaller than or equal to 200.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling FoiaInboxApi.get_foia_inbox_candidates, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'school_id'].nil? && opts[:'school_id'] < 1
        fail ArgumentError, 'invalid value for "opts[:"school_id"]" when calling FoiaInboxApi.get_foia_inbox_candidates, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'foia_request_id'].nil? && opts[:'foia_request_id'] < 1
        fail ArgumentError, 'invalid value for "opts[:"foia_request_id"]" when calling FoiaInboxApi.get_foia_inbox_candidates, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/v1/foia_inbox_candidates'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'school_id'] = opts[:'school_id'] if !opts[:'school_id'].nil?
      query_params[:'foia_request_id'] = opts[:'foia_request_id'] if !opts[:'foia_request_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'If-None-Match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FoiaInboxCandidatesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"FoiaInboxApi.get_foia_inbox_candidates",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FoiaInboxApi#get_foia_inbox_candidates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
