=begin
#Winthrop Intelligence Internal API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.54.0

Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module WinthropClient
  class GameContractsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Atomically apply an approved game contract review plan — creates one RawContract for the uploaded PDF, one GameContract per approved action, and links each contract to its approved existing Games. Supported game_type values are Guarantee, Neutral, Tournament, and Exhibition; neutral-site Tournament occurrences may omit the home school (home_school_id null, away_school_id required).
    # @param plan [String] JSON-encoded game-contract-entry-winad-plan/v1 review plan
    # @param raw_contract_file [File] The approved source contract PDF
    # @param [Hash] opts the optional parameters
    # @return [GameContractApplyResponse]
    def apply_game_contract(plan, raw_contract_file, opts = {})
      data, _status_code, _headers = apply_game_contract_with_http_info(plan, raw_contract_file, opts)
      data
    end

    # Atomically apply an approved game contract review plan — creates one RawContract for the uploaded PDF, one GameContract per approved action, and links each contract to its approved existing Games. Supported game_type values are Guarantee, Neutral, Tournament, and Exhibition; neutral-site Tournament occurrences may omit the home school (home_school_id null, away_school_id required).
    # @param plan [String] JSON-encoded game-contract-entry-winad-plan/v1 review plan
    # @param raw_contract_file [File] The approved source contract PDF
    # @param [Hash] opts the optional parameters
    # @return [Array<(GameContractApplyResponse, Integer, Hash)>] GameContractApplyResponse data, response status code and response headers
    def apply_game_contract_with_http_info(plan, raw_contract_file, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GameContractsApi.apply_game_contract ...'
      end
      # verify the required parameter 'plan' is set
      if @api_client.config.client_side_validation && plan.nil?
        fail ArgumentError, "Missing the required parameter 'plan' when calling GameContractsApi.apply_game_contract"
      end
      # verify the required parameter 'raw_contract_file' is set
      if @api_client.config.client_side_validation && raw_contract_file.nil?
        fail ArgumentError, "Missing the required parameter 'raw_contract_file' when calling GameContractsApi.apply_game_contract"
      end
      # resource path
      local_var_path = '/api/v1/game_contracts/apply'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['plan'] = plan
      form_params['raw_contract_file'] = raw_contract_file

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GameContractApplyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"GameContractsApi.apply_game_contract",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GameContractsApi#apply_game_contract\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
