=begin
#Winthrop Intelligence Internal API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.51.3

Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module WinthropClient
  class IntercollegiateApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create or sync a remote job post
    # @param remote_job_post [RemoteJobPost] 
    # @param [Hash] opts the optional parameters
    # @return [Job]
    def create_job_post(remote_job_post, opts = {})
      data, _status_code, _headers = create_job_post_with_http_info(remote_job_post, opts)
      data
    end

    # Create or sync a remote job post
    # @param remote_job_post [RemoteJobPost] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Job, Integer, Hash)>] Job data, response status code and response headers
    def create_job_post_with_http_info(remote_job_post, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntercollegiateApi.create_job_post ...'
      end
      # verify the required parameter 'remote_job_post' is set
      if @api_client.config.client_side_validation && remote_job_post.nil?
        fail ArgumentError, "Missing the required parameter 'remote_job_post' when calling IntercollegiateApi.create_job_post"
      end
      # resource path
      local_var_path = '/wi_jobs/job_posts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(remote_job_post)

      # return_type
      return_type = opts[:debug_return_type] || 'Job'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"IntercollegiateApi.create_job_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntercollegiateApi#create_job_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create news feed
    # @param [Hash] opts the optional parameters
    # @option opts [NewsFeed] :news_feed 
    # @return [NewsFeed]
    def create_news_feeds(opts = {})
      data, _status_code, _headers = create_news_feeds_with_http_info(opts)
      data
    end

    # Create news feed
    # @param [Hash] opts the optional parameters
    # @option opts [NewsFeed] :news_feed 
    # @return [Array<(NewsFeed, Integer, Hash)>] NewsFeed data, response status code and response headers
    def create_news_feeds_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntercollegiateApi.create_news_feeds ...'
      end
      # resource path
      local_var_path = '/wi_jobs/news_feeds'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'news_feed'])

      # return_type
      return_type = opts[:debug_return_type] || 'NewsFeed'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"IntercollegiateApi.create_news_feeds",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntercollegiateApi#create_news_feeds\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a synced remote job post
    # @param job_post_id [Integer] Remote ID of job post to delete
    # @param updated_at [Time] Timestamp of the remote operation being synced.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_job_post(job_post_id, updated_at, opts = {})
      delete_job_post_with_http_info(job_post_id, updated_at, opts)
      nil
    end

    # Delete a synced remote job post
    # @param job_post_id [Integer] Remote ID of job post to delete
    # @param updated_at [Time] Timestamp of the remote operation being synced.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_job_post_with_http_info(job_post_id, updated_at, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntercollegiateApi.delete_job_post ...'
      end
      # verify the required parameter 'job_post_id' is set
      if @api_client.config.client_side_validation && job_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_post_id' when calling IntercollegiateApi.delete_job_post"
      end
      # verify the required parameter 'updated_at' is set
      if @api_client.config.client_side_validation && updated_at.nil?
        fail ArgumentError, "Missing the required parameter 'updated_at' when calling IntercollegiateApi.delete_job_post"
      end
      # resource path
      local_var_path = '/wi_jobs/job_posts/{jobPostId}'.sub('{' + 'jobPostId' + '}', CGI.escape(job_post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'updated_at'] = updated_at

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"IntercollegiateApi.delete_job_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntercollegiateApi#delete_job_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a job post by ID
    # @param job_post_id [Integer] ID of job post to return
    # @param [Hash] opts the optional parameters
    # @return [Job]
    def get_job_post(job_post_id, opts = {})
      data, _status_code, _headers = get_job_post_with_http_info(job_post_id, opts)
      data
    end

    # Retrieve a job post by ID
    # @param job_post_id [Integer] ID of job post to return
    # @param [Hash] opts the optional parameters
    # @return [Array<(Job, Integer, Hash)>] Job data, response status code and response headers
    def get_job_post_with_http_info(job_post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntercollegiateApi.get_job_post ...'
      end
      # verify the required parameter 'job_post_id' is set
      if @api_client.config.client_side_validation && job_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_post_id' when calling IntercollegiateApi.get_job_post"
      end
      # resource path
      local_var_path = '/wi_jobs/job_posts/{jobPostId}'.sub('{' + 'jobPostId' + '}', CGI.escape(job_post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Job'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"IntercollegiateApi.get_job_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntercollegiateApi#get_job_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve some or all active jobs
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page results page to retrieve. (default to 1)
    # @option opts [Integer] :per_page number of results per page. (default to 20)
    # @option opts [Object] :q Ransack query
    # @return [JobCollection]
    def get_job_posts(opts = {})
      data, _status_code, _headers = get_job_posts_with_http_info(opts)
      data
    end

    # Retrieve some or all active jobs
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page results page to retrieve. (default to 1)
    # @option opts [Integer] :per_page number of results per page. (default to 20)
    # @option opts [Object] :q Ransack query
    # @return [Array<(JobCollection, Integer, Hash)>] JobCollection data, response status code and response headers
    def get_job_posts_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntercollegiateApi.get_job_posts ...'
      end
      # resource path
      local_var_path = '/wi_jobs/job_posts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JobCollection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"IntercollegiateApi.get_job_posts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntercollegiateApi#get_job_posts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve news feed
    # @param [Hash] opts the optional parameters
    # @return [NewsFeedCollection]
    def get_news_feeds(opts = {})
      data, _status_code, _headers = get_news_feeds_with_http_info(opts)
      data
    end

    # Retrieve news feed
    # @param [Hash] opts the optional parameters
    # @return [Array<(NewsFeedCollection, Integer, Hash)>] NewsFeedCollection data, response status code and response headers
    def get_news_feeds_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntercollegiateApi.get_news_feeds ...'
      end
      # resource path
      local_var_path = '/wi_jobs/news_feeds'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NewsFeedCollection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"IntercollegiateApi.get_news_feeds",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntercollegiateApi#get_news_feeds\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update or sync a remote job post
    # @param job_post_id [Integer] Remote ID of job post to update
    # @param remote_job_post [RemoteJobPost] 
    # @param [Hash] opts the optional parameters
    # @return [Job]
    def update_job_post(job_post_id, remote_job_post, opts = {})
      data, _status_code, _headers = update_job_post_with_http_info(job_post_id, remote_job_post, opts)
      data
    end

    # Update or sync a remote job post
    # @param job_post_id [Integer] Remote ID of job post to update
    # @param remote_job_post [RemoteJobPost] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Job, Integer, Hash)>] Job data, response status code and response headers
    def update_job_post_with_http_info(job_post_id, remote_job_post, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntercollegiateApi.update_job_post ...'
      end
      # verify the required parameter 'job_post_id' is set
      if @api_client.config.client_side_validation && job_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_post_id' when calling IntercollegiateApi.update_job_post"
      end
      # verify the required parameter 'remote_job_post' is set
      if @api_client.config.client_side_validation && remote_job_post.nil?
        fail ArgumentError, "Missing the required parameter 'remote_job_post' when calling IntercollegiateApi.update_job_post"
      end
      # resource path
      local_var_path = '/wi_jobs/job_posts/{jobPostId}'.sub('{' + 'jobPostId' + '}', CGI.escape(job_post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(remote_job_post)

      # return_type
      return_type = opts[:debug_return_type] || 'Job'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"IntercollegiateApi.update_job_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntercollegiateApi#update_job_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
