=begin
#Winthrop Intelligence Internal API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.53.43

Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module WinthropClient
  class OcrApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Submit an OCR job for a Google Drive file
    # The service downloads the file with its service account and OCRs every page through Mistral. Returns 202 with a job id to poll. Resubmitting an identical file (same client, same resolved policy) resolves to the prior result during preparation instead of re-paying for OCR; pass options.force to reprocess.
    # @param create_job_json [CreateJobJson] 
    # @param [Hash] opts the optional parameters
    # @return [JobAccepted]
    def create_job_ocr_v1_jobs_post(create_job_json, opts = {})
      data, _status_code, _headers = create_job_ocr_v1_jobs_post_with_http_info(create_job_json, opts)
      data
    end

    # Submit an OCR job for a Google Drive file
    # The service downloads the file with its service account and OCRs every page through Mistral. Returns 202 with a job id to poll. Resubmitting an identical file (same client, same resolved policy) resolves to the prior result during preparation instead of re-paying for OCR; pass options.force to reprocess.
    # @param create_job_json [CreateJobJson] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(JobAccepted, Integer, Hash)>] JobAccepted data, response status code and response headers
    def create_job_ocr_v1_jobs_post_with_http_info(create_job_json, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OcrApi.create_job_ocr_v1_jobs_post ...'
      end
      # verify the required parameter 'create_job_json' is set
      if @api_client.config.client_side_validation && create_job_json.nil?
        fail ArgumentError, "Missing the required parameter 'create_job_json' when calling OcrApi.create_job_ocr_v1_jobs_post"
      end
      # resource path
      local_var_path = '/ocr/v1/jobs'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_job_json)

      # return_type
      return_type = opts[:debug_return_type] || 'JobAccepted'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"OcrApi.create_job_ocr_v1_jobs_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OcrApi#create_job_ocr_v1_jobs_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fetch the full result
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [JobResult]
    def job_result_ocr_v1_jobs_job_id_result_get(job_id, opts = {})
      data, _status_code, _headers = job_result_ocr_v1_jobs_job_id_result_get_with_http_info(job_id, opts)
      data
    end

    # Fetch the full result
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(JobResult, Integer, Hash)>] JobResult data, response status code and response headers
    def job_result_ocr_v1_jobs_job_id_result_get_with_http_info(job_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OcrApi.job_result_ocr_v1_jobs_job_id_result_get ...'
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling OcrApi.job_result_ocr_v1_jobs_job_id_result_get"
      end
      # resource path
      local_var_path = '/ocr/v1/jobs/{job_id}/result'.sub('{' + 'job_id' + '}', CGI.escape(job_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JobResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"OcrApi.job_result_ocr_v1_jobs_job_id_result_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OcrApi#job_result_ocr_v1_jobs_job_id_result_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Poll many jobs in one request
    # Comma-separated `ids` (e.g. `?ids=a,b,c`). Returns the status of the caller's own jobs among them; unknown, expired, or other clients' ids come back in `not_found`. At most 100 ids per call.
    # @param ids [String] 
    # @param [Hash] opts the optional parameters
    # @return [JobStatusBatch]
    def job_status_batch_ocr_v1_jobs_get(ids, opts = {})
      data, _status_code, _headers = job_status_batch_ocr_v1_jobs_get_with_http_info(ids, opts)
      data
    end

    # Poll many jobs in one request
    # Comma-separated &#x60;ids&#x60; (e.g. &#x60;?ids&#x3D;a,b,c&#x60;). Returns the status of the caller&#39;s own jobs among them; unknown, expired, or other clients&#39; ids come back in &#x60;not_found&#x60;. At most 100 ids per call.
    # @param ids [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(JobStatusBatch, Integer, Hash)>] JobStatusBatch data, response status code and response headers
    def job_status_batch_ocr_v1_jobs_get_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OcrApi.job_status_batch_ocr_v1_jobs_get ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling OcrApi.job_status_batch_ocr_v1_jobs_get"
      end
      # resource path
      local_var_path = '/ocr/v1/jobs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = ids

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JobStatusBatch'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"OcrApi.job_status_batch_ocr_v1_jobs_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OcrApi#job_status_batch_ocr_v1_jobs_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Poll one job
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [JobStatus]
    def job_status_ocr_v1_jobs_job_id_get(job_id, opts = {})
      data, _status_code, _headers = job_status_ocr_v1_jobs_job_id_get_with_http_info(job_id, opts)
      data
    end

    # Poll one job
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(JobStatus, Integer, Hash)>] JobStatus data, response status code and response headers
    def job_status_ocr_v1_jobs_job_id_get_with_http_info(job_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OcrApi.job_status_ocr_v1_jobs_job_id_get ...'
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling OcrApi.job_status_ocr_v1_jobs_job_id_get"
      end
      # resource path
      local_var_path = '/ocr/v1/jobs/{job_id}'.sub('{' + 'job_id' + '}', CGI.escape(job_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JobStatus'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"OcrApi.job_status_ocr_v1_jobs_job_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OcrApi#job_status_ocr_v1_jobs_job_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
