=begin
#Winthrop Intelligence Internal API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.55.8-dev.10620

Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module WinthropClient
  class RawContractsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Return the structured contract terms stored on a RawContract (WINAD-10633), and whether the contract's OCR text has changed since they were read (contract_terms_stale).
    # @param raw_contract_id [Integer] ID of the RawContract
    # @param [Hash] opts the optional parameters
    # @return [RawContractTerms]
    def get_raw_contract_contract_terms(raw_contract_id, opts = {})
      data, _status_code, _headers = get_raw_contract_contract_terms_with_http_info(raw_contract_id, opts)
      data
    end

    # Return the structured contract terms stored on a RawContract (WINAD-10633), and whether the contract&#39;s OCR text has changed since they were read (contract_terms_stale).
    # @param raw_contract_id [Integer] ID of the RawContract
    # @param [Hash] opts the optional parameters
    # @return [Array<(RawContractTerms, Integer, Hash)>] RawContractTerms data, response status code and response headers
    def get_raw_contract_contract_terms_with_http_info(raw_contract_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RawContractsApi.get_raw_contract_contract_terms ...'
      end
      # verify the required parameter 'raw_contract_id' is set
      if @api_client.config.client_side_validation && raw_contract_id.nil?
        fail ArgumentError, "Missing the required parameter 'raw_contract_id' when calling RawContractsApi.get_raw_contract_contract_terms"
      end
      # resource path
      local_var_path = '/api/v1/raw_contracts/{raw_contractId}/contract_terms'.sub('{' + 'raw_contractId' + '}', CGI.escape(raw_contract_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RawContractTerms'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"RawContractsApi.get_raw_contract_contract_terms",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RawContractsApi#get_raw_contract_contract_terms\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Replace the whole contract_terms document on a RawContract (WINAD-10633). The body is the document itself: a JSON object with a `schema` string (for example \"ticketing-terms-v1\" or \"coach-terms-v1\") and a `source` object (`rendition_sha256`, `run_id`, `extracted_at`, `method`). Every other key is a term and is stored as sent; terms are not validated beyond the envelope. `source.rendition_sha256` is the SHA-256 (hex) of the OCR text the terms were read from (the `text` returned by GET /raw_contracts/{id}/ocr_text); when that text later changes, `contract_terms_stale` is true.  Every change is recorded in the audit trail (who, old and new value, when), so this requires the winad_write scope and a user-backed token (client-credentials tokens are refused) with permission to update the RawContract. 
    # @param raw_contract_id [Integer] ID of the RawContract
    # @param contract_terms [ContractTerms] 
    # @param [Hash] opts the optional parameters
    # @return [RawContractTerms]
    def update_raw_contract_contract_terms(raw_contract_id, contract_terms, opts = {})
      data, _status_code, _headers = update_raw_contract_contract_terms_with_http_info(raw_contract_id, contract_terms, opts)
      data
    end

    # Replace the whole contract_terms document on a RawContract (WINAD-10633). The body is the document itself: a JSON object with a &#x60;schema&#x60; string (for example \&quot;ticketing-terms-v1\&quot; or \&quot;coach-terms-v1\&quot;) and a &#x60;source&#x60; object (&#x60;rendition_sha256&#x60;, &#x60;run_id&#x60;, &#x60;extracted_at&#x60;, &#x60;method&#x60;). Every other key is a term and is stored as sent; terms are not validated beyond the envelope. &#x60;source.rendition_sha256&#x60; is the SHA-256 (hex) of the OCR text the terms were read from (the &#x60;text&#x60; returned by GET /raw_contracts/{id}/ocr_text); when that text later changes, &#x60;contract_terms_stale&#x60; is true.  Every change is recorded in the audit trail (who, old and new value, when), so this requires the winad_write scope and a user-backed token (client-credentials tokens are refused) with permission to update the RawContract. 
    # @param raw_contract_id [Integer] ID of the RawContract
    # @param contract_terms [ContractTerms] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RawContractTerms, Integer, Hash)>] RawContractTerms data, response status code and response headers
    def update_raw_contract_contract_terms_with_http_info(raw_contract_id, contract_terms, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RawContractsApi.update_raw_contract_contract_terms ...'
      end
      # verify the required parameter 'raw_contract_id' is set
      if @api_client.config.client_side_validation && raw_contract_id.nil?
        fail ArgumentError, "Missing the required parameter 'raw_contract_id' when calling RawContractsApi.update_raw_contract_contract_terms"
      end
      # verify the required parameter 'contract_terms' is set
      if @api_client.config.client_side_validation && contract_terms.nil?
        fail ArgumentError, "Missing the required parameter 'contract_terms' when calling RawContractsApi.update_raw_contract_contract_terms"
      end
      # resource path
      local_var_path = '/api/v1/raw_contracts/{raw_contractId}/contract_terms'.sub('{' + 'raw_contractId' + '}', CGI.escape(raw_contract_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(contract_terms)

      # return_type
      return_type = opts[:debug_return_type] || 'RawContractTerms'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"RawContractsApi.update_raw_contract_contract_terms",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RawContractsApi#update_raw_contract_contract_terms\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
