=begin
#Winthrop Intelligence Internal API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.53.33-dev.9866

Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module WinthropClient
  class ReportingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Retrieve some or all coach contract requests
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page results page to retrieve. (default to 1)
    # @option opts [Object] :q Ransack query
    # @return [Object]
    def get_coach_contract_requests(opts = {})
      data, _status_code, _headers = get_coach_contract_requests_with_http_info(opts)
      data
    end

    # Retrieve some or all coach contract requests
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page results page to retrieve. (default to 1)
    # @option opts [Object] :q Ransack query
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_coach_contract_requests_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportingApi.get_coach_contract_requests ...'
      end
      # resource path
      local_var_path = '/api/v1/reports/coach_contract_requests'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"ReportingApi.get_coach_contract_requests",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportingApi#get_coach_contract_requests\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve some or all coach history
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page results page to retrieve. (default to 1)
    # @option opts [Object] :q Ransack query
    # @return [Object]
    def get_coach_history(opts = {})
      data, _status_code, _headers = get_coach_history_with_http_info(opts)
      data
    end

    # Retrieve some or all coach history
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page results page to retrieve. (default to 1)
    # @option opts [Object] :q Ransack query
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_coach_history_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportingApi.get_coach_history ...'
      end
      # resource path
      local_var_path = '/api/v1/reports/coach_history'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"ReportingApi.get_coach_history",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportingApi#get_coach_history\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve some or all conferenceships
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page results page to retrieve. (default to 1)
    # @option opts [Object] :q Ransack query
    # @return [Object]
    def get_conferenceships(opts = {})
      data, _status_code, _headers = get_conferenceships_with_http_info(opts)
      data
    end

    # Retrieve some or all conferenceships
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page results page to retrieve. (default to 1)
    # @option opts [Object] :q Ransack query
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_conferenceships_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportingApi.get_conferenceships ...'
      end
      # resource path
      local_var_path = '/api/v1/reports/conferenceships'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"ReportingApi.get_conferenceships",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportingApi#get_conferenceships\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve some or all foia details
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page results page to retrieve. (default to 1)
    # @option opts [Object] :q Ransack query
    # @return [Object]
    def get_foia_details(opts = {})
      data, _status_code, _headers = get_foia_details_with_http_info(opts)
      data
    end

    # Retrieve some or all foia details
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page results page to retrieve. (default to 1)
    # @option opts [Object] :q Ransack query
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_foia_details_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportingApi.get_foia_details ...'
      end
      # resource path
      local_var_path = '/api/v1/reports/foia_details'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"ReportingApi.get_foia_details",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportingApi#get_foia_details\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve read-only FOIA follow-up rows for Codex follow-up drafting and FOIA freshness dashboards
    # @param scope [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Results page to retrieve. (default to 1)
    # @option opts [Integer] :per_page Number of rows per page. Values above 200 are capped at 200. (default to 40)
    # @option opts [String] :sort_by Sort field with optional _asc or _desc suffix. (default to 'follow_up_date_asc')
    # @option opts [Integer] :foia_label_id 
    # @option opts [Integer] :school_id 
    # @option opts [String] :state School state id, abbreviation, or display name.
    # @option opts [Date] :follow_up_date_lte 
    # @option opts [Boolean] :include_not_due  (default to false)
    # @option opts [String] :show_processed_today  (default to 'false')
    # @option opts [Boolean] :include_direct_contact  (default to false)
    # @return [FoiaFollowUpReportResponse]
    def get_foia_follow_up_report(scope, opts = {})
      data, _status_code, _headers = get_foia_follow_up_report_with_http_info(scope, opts)
      data
    end

    # Retrieve read-only FOIA follow-up rows for Codex follow-up drafting and FOIA freshness dashboards
    # @param scope [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Results page to retrieve. (default to 1)
    # @option opts [Integer] :per_page Number of rows per page. Values above 200 are capped at 200. (default to 40)
    # @option opts [String] :sort_by Sort field with optional _asc or _desc suffix. (default to 'follow_up_date_asc')
    # @option opts [Integer] :foia_label_id 
    # @option opts [Integer] :school_id 
    # @option opts [String] :state School state id, abbreviation, or display name.
    # @option opts [Date] :follow_up_date_lte 
    # @option opts [Boolean] :include_not_due  (default to false)
    # @option opts [String] :show_processed_today  (default to 'false')
    # @option opts [Boolean] :include_direct_contact  (default to false)
    # @return [Array<(FoiaFollowUpReportResponse, Integer, Hash)>] FoiaFollowUpReportResponse data, response status code and response headers
    def get_foia_follow_up_report_with_http_info(scope, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportingApi.get_foia_follow_up_report ...'
      end
      # verify the required parameter 'scope' is set
      if @api_client.config.client_side_validation && scope.nil?
        fail ArgumentError, "Missing the required parameter 'scope' when calling ReportingApi.get_foia_follow_up_report"
      end
      # verify enum value
      allowable_values = ["due_followup_queue", "freshness_dashboard"]
      if @api_client.config.client_side_validation && !allowable_values.include?(scope)
        fail ArgumentError, "invalid value for \"scope\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ReportingApi.get_foia_follow_up_report, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 200
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling ReportingApi.get_foia_follow_up_report, must be smaller than or equal to 200.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling ReportingApi.get_foia_follow_up_report, must be greater than or equal to 1.'
      end

      allowable_values = ["follow_up_date_asc", "follow_up_date_desc", "date_sent_asc", "date_sent_desc", "updated_by_school_asc", "updated_by_school_desc", "updated_by_wi_asc", "updated_by_wi_desc", "id_asc", "id_desc"]
      if @api_client.config.client_side_validation && opts[:'sort_by'] && !allowable_values.include?(opts[:'sort_by'])
        fail ArgumentError, "invalid value for \"sort_by\", must be one of #{allowable_values}"
      end
      allowable_values = ["false", "true", "all"]
      if @api_client.config.client_side_validation && opts[:'show_processed_today'] && !allowable_values.include?(opts[:'show_processed_today'])
        fail ArgumentError, "invalid value for \"show_processed_today\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/v1/reports/foia_follow_up_report'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'scope'] = scope
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'foia_label_id'] = opts[:'foia_label_id'] if !opts[:'foia_label_id'].nil?
      query_params[:'school_id'] = opts[:'school_id'] if !opts[:'school_id'].nil?
      query_params[:'state'] = opts[:'state'] if !opts[:'state'].nil?
      query_params[:'follow_up_date_lte'] = opts[:'follow_up_date_lte'] if !opts[:'follow_up_date_lte'].nil?
      query_params[:'include_not_due'] = opts[:'include_not_due'] if !opts[:'include_not_due'].nil?
      query_params[:'show_processed_today'] = opts[:'show_processed_today'] if !opts[:'show_processed_today'].nil?
      query_params[:'include_direct_contact'] = opts[:'include_direct_contact'] if !opts[:'include_direct_contact'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FoiaFollowUpReportResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"ReportingApi.get_foia_follow_up_report",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportingApi#get_foia_follow_up_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve read-only FOIA request follow-up history sourced from audit versions. Rows are historical change events for follow-up-related request fields, so one FOIA request can appear multiple times. Label and school fields reflect each request's current associations, and only active requests with unarchived labels are included. When no changed_at filters are supplied, the endpoint defaults to the most recent 366 days.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :foia_request_id 
    # @option opts [Integer] :school_id 
    # @option opts [Integer] :foia_label_id 
    # @option opts [String] :changed_at_gte Include changes on or after this ISO-8601 date or datetime. Date-only values start at the beginning of the day. Defaults to 366 days before changed_at_lte or now.
    # @option opts [String] :changed_at_lte Include changes on or before this ISO-8601 date or datetime. Date-only values run through the end of the day. Defaults to now; the effective window may span at most 366 days.
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page Values above the maximum are capped. (default to 40)
    # @return [FoiaRequestFollowUpHistoryResponse]
    def get_foia_request_followup_history(opts = {})
      data, _status_code, _headers = get_foia_request_followup_history_with_http_info(opts)
      data
    end

    # Retrieve read-only FOIA request follow-up history sourced from audit versions. Rows are historical change events for follow-up-related request fields, so one FOIA request can appear multiple times. Label and school fields reflect each request&#39;s current associations, and only active requests with unarchived labels are included. When no changed_at filters are supplied, the endpoint defaults to the most recent 366 days.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :foia_request_id 
    # @option opts [Integer] :school_id 
    # @option opts [Integer] :foia_label_id 
    # @option opts [String] :changed_at_gte Include changes on or after this ISO-8601 date or datetime. Date-only values start at the beginning of the day. Defaults to 366 days before changed_at_lte or now.
    # @option opts [String] :changed_at_lte Include changes on or before this ISO-8601 date or datetime. Date-only values run through the end of the day. Defaults to now; the effective window may span at most 366 days.
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page Values above the maximum are capped. (default to 40)
    # @return [Array<(FoiaRequestFollowUpHistoryResponse, Integer, Hash)>] FoiaRequestFollowUpHistoryResponse data, response status code and response headers
    def get_foia_request_followup_history_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportingApi.get_foia_request_followup_history ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ReportingApi.get_foia_request_followup_history, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 200
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling ReportingApi.get_foia_request_followup_history, must be smaller than or equal to 200.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling ReportingApi.get_foia_request_followup_history, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/v1/reports/foia_request_followup_history'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'foia_request_id'] = opts[:'foia_request_id'] if !opts[:'foia_request_id'].nil?
      query_params[:'school_id'] = opts[:'school_id'] if !opts[:'school_id'].nil?
      query_params[:'foia_label_id'] = opts[:'foia_label_id'] if !opts[:'foia_label_id'].nil?
      query_params[:'changed_at_gte'] = opts[:'changed_at_gte'] if !opts[:'changed_at_gte'].nil?
      query_params[:'changed_at_lte'] = opts[:'changed_at_lte'] if !opts[:'changed_at_lte'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FoiaRequestFollowUpHistoryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"ReportingApi.get_foia_request_followup_history",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportingApi#get_foia_request_followup_history\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve read-only grouped requested-item status counts for FOIA freshness reporting widgets
    # @param [Hash] opts the optional parameters
    # @option opts [String] :group_by Comma-separated grouping dimensions. Defaults to both dimensions. (default to 'updated_period,requestable_type')
    # @option opts [String] :period Calendar bucket size for the updated_period dimension. Weeks are ISO weeks starting Monday. (default to 'day')
    # @option opts [Date] :updated_at_gte Include items updated on or after this date.
    # @option opts [Date] :updated_at_lte Include items updated on or before this date.
    # @option opts [Integer] :foia_label_id 
    # @option opts [Integer] :school_id 
    # @option opts [String] :state School state id, abbreviation, or display name.
    # @option opts [Boolean] :include_direct_contact  (default to false)
    # @return [FoiaRequestedItemStatusBreakdownResponse]
    def get_foia_requested_item_status_breakdown(opts = {})
      data, _status_code, _headers = get_foia_requested_item_status_breakdown_with_http_info(opts)
      data
    end

    # Retrieve read-only grouped requested-item status counts for FOIA freshness reporting widgets
    # @param [Hash] opts the optional parameters
    # @option opts [String] :group_by Comma-separated grouping dimensions. Defaults to both dimensions. (default to 'updated_period,requestable_type')
    # @option opts [String] :period Calendar bucket size for the updated_period dimension. Weeks are ISO weeks starting Monday. (default to 'day')
    # @option opts [Date] :updated_at_gte Include items updated on or after this date.
    # @option opts [Date] :updated_at_lte Include items updated on or before this date.
    # @option opts [Integer] :foia_label_id 
    # @option opts [Integer] :school_id 
    # @option opts [String] :state School state id, abbreviation, or display name.
    # @option opts [Boolean] :include_direct_contact  (default to false)
    # @return [Array<(FoiaRequestedItemStatusBreakdownResponse, Integer, Hash)>] FoiaRequestedItemStatusBreakdownResponse data, response status code and response headers
    def get_foia_requested_item_status_breakdown_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportingApi.get_foia_requested_item_status_breakdown ...'
      end
      allowable_values = ["day", "week", "month"]
      if @api_client.config.client_side_validation && opts[:'period'] && !allowable_values.include?(opts[:'period'])
        fail ArgumentError, "invalid value for \"period\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/v1/reports/foia_requested_item_status_breakdown'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'group_by'] = opts[:'group_by'] if !opts[:'group_by'].nil?
      query_params[:'period'] = opts[:'period'] if !opts[:'period'].nil?
      query_params[:'updated_at_gte'] = opts[:'updated_at_gte'] if !opts[:'updated_at_gte'].nil?
      query_params[:'updated_at_lte'] = opts[:'updated_at_lte'] if !opts[:'updated_at_lte'].nil?
      query_params[:'foia_label_id'] = opts[:'foia_label_id'] if !opts[:'foia_label_id'].nil?
      query_params[:'school_id'] = opts[:'school_id'] if !opts[:'school_id'].nil?
      query_params[:'state'] = opts[:'state'] if !opts[:'state'].nil?
      query_params[:'include_direct_contact'] = opts[:'include_direct_contact'] if !opts[:'include_direct_contact'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FoiaRequestedItemStatusBreakdownResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"ReportingApi.get_foia_requested_item_status_breakdown",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportingApi#get_foia_requested_item_status_breakdown\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve read-only requested-item status transition history (into received or not_available) sourced from audit versions, for items-received FOIA freshness reporting. Rows are transition events, so one item can appear multiple times. Label, school, and requestable fields reflect each item's current associations rather than the values at transition time, and only items on active requests with unarchived labels are included. Status changes written without callbacks are not captured in the audit history and do not appear.
    # @param changed_at_gte [String] Include transitions on or after this ISO-8601 date or datetime. Date-only values start at the beginning of the day.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :changed_at_lte Include transitions on or before this ISO-8601 date or datetime. Date-only values run through the end of the day. Defaults to now; the window may span at most 366 days.
    # @option opts [Integer] :foia_label_id 
    # @option opts [Integer] :school_id 
    # @option opts [String] :requestable_type 
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page Values above the maximum are capped. (default to 40)
    # @return [FoiaRequestedItemStatusTransitionsResponse]
    def get_foia_requested_item_status_transitions(changed_at_gte, opts = {})
      data, _status_code, _headers = get_foia_requested_item_status_transitions_with_http_info(changed_at_gte, opts)
      data
    end

    # Retrieve read-only requested-item status transition history (into received or not_available) sourced from audit versions, for items-received FOIA freshness reporting. Rows are transition events, so one item can appear multiple times. Label, school, and requestable fields reflect each item&#39;s current associations rather than the values at transition time, and only items on active requests with unarchived labels are included. Status changes written without callbacks are not captured in the audit history and do not appear.
    # @param changed_at_gte [String] Include transitions on or after this ISO-8601 date or datetime. Date-only values start at the beginning of the day.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :changed_at_lte Include transitions on or before this ISO-8601 date or datetime. Date-only values run through the end of the day. Defaults to now; the window may span at most 366 days.
    # @option opts [Integer] :foia_label_id 
    # @option opts [Integer] :school_id 
    # @option opts [String] :requestable_type 
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page Values above the maximum are capped. (default to 40)
    # @return [Array<(FoiaRequestedItemStatusTransitionsResponse, Integer, Hash)>] FoiaRequestedItemStatusTransitionsResponse data, response status code and response headers
    def get_foia_requested_item_status_transitions_with_http_info(changed_at_gte, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportingApi.get_foia_requested_item_status_transitions ...'
      end
      # verify the required parameter 'changed_at_gte' is set
      if @api_client.config.client_side_validation && changed_at_gte.nil?
        fail ArgumentError, "Missing the required parameter 'changed_at_gte' when calling ReportingApi.get_foia_requested_item_status_transitions"
      end
      allowable_values = ["DealStatus", "Game", "Compensation", "IncomeReport", "NcaaFinancialReportStatus", "AuditedFinancialReportStatus"]
      if @api_client.config.client_side_validation && opts[:'requestable_type'] && !allowable_values.include?(opts[:'requestable_type'])
        fail ArgumentError, "invalid value for \"requestable_type\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ReportingApi.get_foia_requested_item_status_transitions, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 200
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling ReportingApi.get_foia_requested_item_status_transitions, must be smaller than or equal to 200.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling ReportingApi.get_foia_requested_item_status_transitions, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/v1/reports/foia_requested_item_status_transitions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'changed_at_gte'] = changed_at_gte
      query_params[:'changed_at_lte'] = opts[:'changed_at_lte'] if !opts[:'changed_at_lte'].nil?
      query_params[:'foia_label_id'] = opts[:'foia_label_id'] if !opts[:'foia_label_id'].nil?
      query_params[:'school_id'] = opts[:'school_id'] if !opts[:'school_id'].nil?
      query_params[:'requestable_type'] = opts[:'requestable_type'] if !opts[:'requestable_type'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FoiaRequestedItemStatusTransitionsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"ReportingApi.get_foia_requested_item_status_transitions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportingApi#get_foia_requested_item_status_transitions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve some or all games
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page results page to retrieve. (default to 1)
    # @option opts [Object] :q Ransack query
    # @return [Object]
    def get_games(opts = {})
      data, _status_code, _headers = get_games_with_http_info(opts)
      data
    end

    # Retrieve some or all games
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page results page to retrieve. (default to 1)
    # @option opts [Object] :q Ransack query
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_games_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportingApi.get_games ...'
      end
      # resource path
      local_var_path = '/api/v1/reports/games'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"ReportingApi.get_games",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportingApi#get_games\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve some or all client invoices
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page results page to retrieve. (default to 1)
    # @option opts [Object] :q Ransack query
    # @return [InvoiceReportResult]
    def get_invoices(opts = {})
      data, _status_code, _headers = get_invoices_with_http_info(opts)
      data
    end

    # Retrieve some or all client invoices
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page results page to retrieve. (default to 1)
    # @option opts [Object] :q Ransack query
    # @return [Array<(InvoiceReportResult, Integer, Hash)>] InvoiceReportResult data, response status code and response headers
    def get_invoices_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportingApi.get_invoices ...'
      end
      # resource path
      local_var_path = '/api/v1/reports/invoices'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InvoiceReportResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"ReportingApi.get_invoices",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportingApi#get_invoices\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve some or all school contract requests
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page results page to retrieve. (default to 1)
    # @option opts [Object] :q Ransack query
    # @return [Object]
    def get_school_contract_requests(opts = {})
      data, _status_code, _headers = get_school_contract_requests_with_http_info(opts)
      data
    end

    # Retrieve some or all school contract requests
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page results page to retrieve. (default to 1)
    # @option opts [Object] :q Ransack query
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_school_contract_requests_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportingApi.get_school_contract_requests ...'
      end
      # resource path
      local_var_path = '/api/v1/reports/school_contract_requests'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"ReportingApi.get_school_contract_requests",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportingApi#get_school_contract_requests\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve schools with thier financials qc
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page results page to retrieve. (default to 1)
    # @option opts [Object] :q Ransack query
    # @return [FinancialQc]
    def get_schools_financials_qc(opts = {})
      data, _status_code, _headers = get_schools_financials_qc_with_http_info(opts)
      data
    end

    # Retrieve schools with thier financials qc
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page results page to retrieve. (default to 1)
    # @option opts [Object] :q Ransack query
    # @return [Array<(FinancialQc, Integer, Hash)>] FinancialQc data, response status code and response headers
    def get_schools_financials_qc_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportingApi.get_schools_financials_qc ...'
      end
      # resource path
      local_var_path = '/api/v1/financials_qc'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FinancialQc'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"ReportingApi.get_schools_financials_qc",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportingApi#get_schools_financials_qc\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve subscriptions
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page results page to retrieve. (default to 1)
    # @option opts [Object] :q Ransack query
    # @return [Object]
    def get_subscriptions(opts = {})
      data, _status_code, _headers = get_subscriptions_with_http_info(opts)
      data
    end

    # Retrieve subscriptions
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page results page to retrieve. (default to 1)
    # @option opts [Object] :q Ransack query
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_subscriptions_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportingApi.get_subscriptions ...'
      end
      # resource path
      local_var_path = '/api/v1/reports/subscriptions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"ReportingApi.get_subscriptions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportingApi#get_subscriptions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
