=begin
#Winthrop Intelligence Internal API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.54.0

Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module WinthropClient
  class SalarySitesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Retrieve every School↔Site association scoped to salary sites, for a given set of school IDs
    # @param school_ids [Array<Integer>] 1 to 100 unique positive school IDs
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page results page to retrieve. (default to 1)
    # @option opts [Integer] :per_page  (default to 100)
    # @return [SalarySiteAssociationsResponse]
    def get_salary_site_associations(school_ids, opts = {})
      data, _status_code, _headers = get_salary_site_associations_with_http_info(school_ids, opts)
      data
    end

    # Retrieve every School↔Site association scoped to salary sites, for a given set of school IDs
    # @param school_ids [Array<Integer>] 1 to 100 unique positive school IDs
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page results page to retrieve. (default to 1)
    # @option opts [Integer] :per_page  (default to 100)
    # @return [Array<(SalarySiteAssociationsResponse, Integer, Hash)>] SalarySiteAssociationsResponse data, response status code and response headers
    def get_salary_site_associations_with_http_info(school_ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SalarySitesApi.get_salary_site_associations ...'
      end
      # verify the required parameter 'school_ids' is set
      if @api_client.config.client_side_validation && school_ids.nil?
        fail ArgumentError, "Missing the required parameter 'school_ids' when calling SalarySitesApi.get_salary_site_associations"
      end
      if @api_client.config.client_side_validation && school_ids.length > 100
        fail ArgumentError, 'invalid value for "school_ids" when calling SalarySitesApi.get_salary_site_associations, number of items must be less than or equal to 100.'
      end

      if @api_client.config.client_side_validation && school_ids.length < 1
        fail ArgumentError, 'invalid value for "school_ids" when calling SalarySitesApi.get_salary_site_associations, number of items must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 200
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling SalarySitesApi.get_salary_site_associations, must be smaller than or equal to 200.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling SalarySitesApi.get_salary_site_associations, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/v1/salary_site_associations'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'school_ids[]'] = @api_client.build_collection_param(school_ids, :multi)
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SalarySiteAssociationsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'Oauth2']

      new_options = opts.merge(
        :operation => :"SalarySitesApi.get_salary_site_associations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SalarySitesApi#get_salary_site_associations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
